<!-- views/datasources.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<% include ./head %>
		<title>
			<%= title %>
		</title>

		<script type="text/javascript">
			//onclick事件传入value值和id
			function button2(value, id) {
				//判断点击的按钮的id是否存在,不存在则创建,存在则alert
				if (!document.getElementById(id)) {
					//创建input元素
					var inp = document.createElement("input");
					inp.type = "button";
					//传入点击按钮的value值到新的按钮
					inp.value = value;
					//传入点击按钮的id到新的按钮(传入是id+1防止重复)
					inp.id = id;
					//当方法有参数时，用onclick = 方法名(参数)时就有错了，需要在方法名前面加function()
					inp.onclick = function () {
						click(id);
					};
					document.getElementById("div").appendChild(inp);
				} else {
					alert("已存在" + id)
				}
			}
			function click(id) {
				var flag = confirm("确认删除?");
				if (flag) {
					document.getElementById(id).remove();
				}
			}
		</script>
</head>

<body class="container">
	<header>
		<% include ./header %>
	</header>
	<main>
		<span> --- </span>
		Select a physical channel:<br>
		<div>
			<form action="/modbus/tcp" method="POST">
				<div>
					<%=channelType %>
				</div> <br>
				URL: <input type="text" name="Url" value="192.168.200.103:502:125" /> <br>
				Target: <input type="text" name="Target" value="3:201:100" /> <br>
				Endian: <input type="text" name="Endian" value="abcd->badc" /> <br>
				<input type="submit" value="Insert" />
			</form>
		</div>
		<span> --- </span>
	</main>
	<footer>
		<% include ./footer %>
	</footer>
</body>

</html>