<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Welcome to <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="../public/images/global.png">
    <style>
        /* css 代码 	<script src="https://code.hcharts.cn/highcharts/highcharts.js"></script> */
    </style>
    <script src="../public/javascripts/highcharts.js"></script>
    <script src="../public/javascripts/jquery-1.12.4.js"></script>
</head>

<body>
    <div id="container" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
    <script>
        // JS 代码
        $(function () {
            //声明报表对象  
            var chart = new Highcharts.Chart({
                chart: {
                    //将报表对象渲染到层上  
                    renderTo: 'container'
                },
                //设定报表对象的初始数据  
                series: [{
                    data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                }]
            });

            function getForm() {
                //使用JQuery从后台获取JSON格式的数据  
                jQuery.getJSON('http://localhost:3000/chart/updates', null, function (data) {
                    //为图表设置值
                    chart.series[0].setData(data);
                });
            }
            
            $(document).ready(function () {
                //每隔3秒自动调用方法，实现图表的实时更新  
                window.setInterval(getForm, 3000);
            });
        });

        var chart = Highcharts.chart('container', {
            title: {
                text: '2010 ~ 2016 年太阳能行业就业人员发展情况'
            },
            subtitle: {
                text: '数据来源：thesolarfoundation.com'
            },
            yAxis: {
                title: {
                    text: '就业人数'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },
            series: [{
                name: '安装，实施人员',
                data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
            }, {
                name: '工人',
                data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
            }, {
                name: '销售',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }, {
                name: '项目开发',
                data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
            }, {
                name: '其他',
                data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    </script>
</body>

</html>