<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title><%= title %></title>

    <script>

        //创建XMLHttpRequest 对象
        //参数：无
        //返回值：XMLHttpRequest 对象
        function createXHR () {
            var XHR = [  //兼容不同浏览器和版本得创建函数数组
                function () { return new XMLHttpRequest () },
                function () { return new ActiveXObject ("Msxml2.XMLHTTP") },
                function () { return new ActiveXObject ("Msxml3.XMLHTTP") },
                function () { return new ActiveXObject ("Microsoft.XMLHTTP") }
            ];
            var xhr = null;
            //尝试调用函数，如果成功则返回XMLHttpRequest对象，否则继续尝试
            for (var i = 0; i < XHR.length; i ++) {
                try {
                    xhr = XHR[i]();
                } catch(e) {
                    continue  //如果发生异常，则继续下一个函数调用
                }
                console.log(i, ', ')
                break;  //如果成功，则中止循环
            }
            xhr.onload = function(){
                xhr.setRequestHeader("Authorization", 'Bearer ' + 'window.document.cookie.getItem("atoken")')
                // console.log(xhr)
            };
            return xhr;  //返回对象实例
        }


        !(function(){
            var xhr = createXHR()
            this.init = function(){
            };
            if(typeof XMLHttpRequest != 'undefined'){
                    var server = new XMLHttpRequest();
                    //Open first, before setting the request headers.
                    server.open('get', '/users/home', true);
                    //Now set the request headers.
                    server.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                    alert ('window.document.cookie?' + document.cookie);
                    var myCookie = window.document.cookie.replace(/(?:(?:^|.*;\s*)authorization\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                    // 显示: World
                    server.setRequestHeader("Authorization", 'Bearer ' + myCookie)
                    //this.server.setRequestHeader('Content-length', this.formData.length);
                    //this.server.setRequestHeader('Connection', 'close');
                    console.log("XMLHttpRequest created.");
                }

            console.log(xhr)
            xhr.withCredentials = true
            allCookies = document.cookie;
            console.log(allCookies)
            // alert(document.cookie);
            var arr = allCookies.split(';')
            console.log(arr)

            // xhr.setRequestHeader("Authorization", 'Bearer ' + 'window.document.cookie.getItem("atoken")')
            // request.setRequestHeader("Authorization",localStorage.getItem("Authorization"));
            // console.log(window.document.cookie.getItem("atoken"))
        }())
        window.onload = function () {  //页面初始化
            alert ('window.onload...');
            var b = document.getElementsByTagName("token")[0];
            b.onclick = function () {
                var url = "/users/login";
                var xhr = createXHR();  //实例化XMLHttpRequest 对象
                xhr.open("GET", url, false);  //建立连接，要求同步响应
                xhr.send(null);  //发送请求
                console.log(xhr.responseText);  //接收数据
            }
        }

    </script>

</head>
<body class="container">
    <header>
        <% include ./header %>
    </header>
    <main>
        <token><%= token %></token>
        <input type="radio" name="token" placeholder="token" value=<%= token %>>

        <span> --- </span>
        <div>
        </div>
        <span> --- </span>
        
        <h1>add</h1>
    </main>
    <footer>
        <% include ./footer %>
    </footer>
</body>
</html>