<!-- views/station.ejs -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>

<body>
	<h1>
		Select Remote Station Model
	</h1>
	<p enctype="multipart/form-data">Welcome to <%= title %>
	</p>
	<span> --- </span>
	<div>
		<form id="tableForm" action="/station/insert" method="post">
			<select class="selectmodel" data-style="btn-info" name="selectmodel">
				<optgroup label="Select Table">
					<option value="">Device Model</option>
					<% rows.forEach(function(row){ %>
						<option value="<%= row %>">
							<%= row %>
						</option>
						<% }) %>
				</optgroup>
			</select>
			<input type="submit" value="Submit" />
		</form>
	</div>
	<span> --- </span>
</body>

</html>