<!-- views/datasources.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        
        <span> --- </span>

        <div>
            <table class="table table-hover usertable">
                <tr>
                    <th>index</th>
                    <th>item</th>
                </tr>
                <%for(var i=0; i<items.length; i= i+1){%>
                <tr>
                    <td><%=i%></td>
                    <td><%=items[i]%></td>
                </tr>
                <%}%>
        
            </table>
        </div>
        
        <span> --- </span>
        
        <h1>
            add <%=items.length %>
        </h1>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>


